// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.

:root {
  --md-sys-color-primary: var(--sky-blue);
  --md-sys-color-secondary: var(--deep-blue);

  --md-outlined-text-field-label-text-font: REM, sans-serif;
  --md-outlined-text-field-label-text-color: #49454f;
  --md-outlined-text-field-input-text-font: REM, sans-serif;
  --md-outlined-text-field-input-text-color: #49454f;
  --md-outlined-select-text-field-input-text-font: REM, sans-serif;
  --md-outlined-select-text-field-label-text-font: REM, sans-serif;

  --md-select-option-text-field-input-text-font: REM, sans-serif;
  --md-select-option-text-field-label-text-font: REM, sans-serif;
}

.application {
  .sidenav {
    .nav-application {
      margin-top: 56px;
    }
  }
  .sidenav-user {
    height: auto;
    gap: 48px;
  }
}

.application-offset {
  .container-application {
    &::before {
      height: 390px;
    }
  }
}

md-outlined-text-field {
  color: #8492a6;
  box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);
}

.custom-select,
.custom-input-file + label,
input[type="date"],
input[type="time"],
input[type="text"] {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 1rem 2.25rem 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  color: #49454f;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%233C4858' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 1.25rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #79747e;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(31, 45, 61, 0.075);
  appearance: none;
}

.input-group-text {
  border-color: #79747e !important;
  color: #79747e !important;
}

.material-label {
  position: absolute;
  top: 0;
  left: 22px;
  transform: translateY(-50%);
  font-size: 12px;
  background-color: white;
  color: #49454f;
  padding: 0 4px;
  z-index: 100;
}

input[type="date"],
input[type="time"] {
  appearance: auto;
  background: none;
}

input[type="text"] {
  background: none;
}

.custom-control-label {
  line-height: 1.4;
}

.nav-tabs .nav-link:not(.active) {
  background: transparent;
}

.btn {
  font-weight: 400;
}

.navbar-nav .nav-link {
  font-weight: 400;
}

.timeline-block {
  margin: 3em 0;
}

.media > i {
  position: relative;
  top: 6px;
}
