// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.

:root {
  --md-sys-color-primary: var(--sky-blue);
  --md-outlined-text-field-label-text-font: REM, sans-serif;
  --md-outlined-text-field-input-text-font: REM, sans-serif;
}

.application {
  .sidenav {
    .nav-application {
      margin-top: 56px;
    }
  }
  .sidenav-user {
    height: auto;
    gap: 48px;
  }
}

.application-offset {
  .container-application {
    &::before {
      height: 390px;
    }
  }
}

md-outlined-text-field {
  background-color: #EFF2F7;
  color: #8492A6;
  border: 1px solid #E0E6ED;
  box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);
}

.nav-tabs .nav-link:not(.active) {
  background: transparent;
}

.btn {
  font-weight: 400;
}

.navbar-nav .nav-link {
  font-weight: 400;
}

.timeline-block {
  margin: 3em 0;
}