<section>
  <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6>Relatório</h6>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <span class="material-label">Label</span>
              <input type="date" class="form-control" placeholder="Emissão Inicial" />
            </div>
            <div class="col-lg-6">
              <md-outlined-select label="Tipo de Relatório">
                <md-select-option selected value="apple">
                  <div slot="headline">Apple</div>
                </md-select-option>
                <md-select-option value="tomato">
                  <div slot="headline">Tomato</div>
                </md-select-option>
              </md-outlined-select>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-link" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-sm btn-primary rounded-pill float-right"
            data-calendar="update">Atualizar</button>
          <button type="button" class="btn btn-sm btn-danger rounded-pill float-right"
            data-calendar="delete">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</section>