<div id="omnisearch" class="omnisearch">
  <div class="container">
    <!-- Search form -->
    <form class="omnisearch-form">
      <div class="form-group">
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Digite e aperte enter ...">
        </div>
      </div>
    </form>
    <div class="omnisearch-suggestions">
      <h6 class="heading">Sugestões de Busca</h6>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-unstyled mb-0">
            <li>
              <a class="list-link" href="#">
                <i class="fas fa-search"></i>
                <span>Amanda</span> em Clientes
              </a>
            </li>
            <li>
              <a class="list-link" href="#">
                <i class="fas fa-search"></i>
                <span>Relatório</span> Financeiro
              </a>
            </li>
            <li>
              <a class="list-link" href="#">
                <i class="fas fa-search"></i>
                <span>Lucros</span> Vendas
              </a>
            </li>
            <li>
              <a class="list-link" href="#">
                <i class="fas fa-search"></i>
                <span>Renovações</span> em Comercial
              </a>
            </li>
            <li>
              <a class="list-link" href="#">
                <i class="fas fa-search"></i>
                <span>Histórico</span> em Parceiros
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>