<div class="sidenav show" id="sidenav-main">
  <!-- Sidenav header -->
  <div class="sidenav-header d-flex align-items-center">
    <a class="navbar-brand" href="../index.html">
      <img src="../assets/img/brand/white.png" class="navbar-brand-img" alt="...">
    </a>
    <div class="ml-auto">
      <!-- Sidenav toggler -->
      <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin"
        data-target="#sidenav-main">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- User mini profile -->
  <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
    <!-- Avatar -->
    <div>
      <a href="#" class="avatar rounded-circle avatar-xl">
        <img alt="Image placeholder" src="../assets/img/theme/light/profile-solange.png" class="">
      </a>
      <div class="mt-4">
        <h5 class="mb-0 text-white">Solange S.</h5>
        <span class="d-block text-sm text-white opacity-8 mb-3">Diretora Operacional</span>
      </div>
    </div>
    <!-- User info -->
    <!-- Actions -->
    <div class="w-100 mt-4 actions d-flex justify-content-between">
      <a href="../application/user/profile.html" class="action-item action-item-lg text-white pl-0">
        <i class="fas fa-user"></i>
      </a>
      <a href="#modal-chat" class="action-item action-item-lg text-white" data-toggle="modal">
        <i class="fas fa-comment-alt"></i>
      </a>
      <a href="../application/shop/invoices.html" class="action-item action-item-lg text-white pr-0">
        <i class="fas fa-receipt"></i>
      </a>
    </div>
  </div>
  <!-- Application nav -->
  <div class="nav-application clearfix">
    <a href="../application/home.html" class="btn btn-square text-sm active">
      <span class="btn-inner--icon d-block"><i class="fas fa-calendar-day fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Agenda</span>
    </a>
    <a href="../application/project/card-listing.html" class="btn btn-square text-sm">
      <span class="btn-inner--icon d-block"><i class="fas fa-store fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Comercial</span>
    </a>
    <a href="../application/task/table-listing.html" class="btn btn-square text-sm">
      <span class="btn-inner--icon d-block"><i class="fas fa-funnel-dollar fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Financeiro</span>
    </a>
    <a href="../application/task/kanban-board.html" class="btn btn-square text-sm">
      <span class="btn-inner--icon d-block"><i class="fas fa-handshake fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Financeiro</span>
    </a>
    <a href="../application/user/card-listing.html" class="btn btn-square text-sm">
      <span class="btn-inner--icon d-block"><i class="fas fa-landmark fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Administrativo</span>
    </a>
    <a href="../application/user/profile.html" class="btn btn-square text-sm">
      <span class="btn-inner--icon d-block"><i class="fas fa-address-book fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Diário</span>
    </a>
  </div>
</div>