<div class="sidenav show" id="sidenav-main">
  <!-- Sidenav header -->
  <div class="sidenav-header d-flex align-items-center">
    <a class="navbar-brand" href="/agenda">
      <img src="/assets/img/brand/white.png" class="navbar-brand-img" alt="...">
    </a>
    <div class="ml-auto">
      <!-- Sidenav toggler -->
      <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin"
        data-target="#sidenav-main">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- User mini profile -->
  <div class="sidenav-user d-flex flex-column text-center">
    <!-- Avatar -->
    <div>
      <a href="#" class="avatar rounded-circle avatar-xl">
        <img alt="Image placeholder" src="/assets/img/theme/light/profile-solange.png" class="">
      </a>
      <div class="mt-4">
        <h5 class="mb-0 text-white">Solange S.</h5>
        <span class="d-block text-sm text-white opacity-8">Diretora Operacional</span>
      </div>
    </div>
    <!-- User info -->
    <!-- Actions -->
    <div class="w-100 actions d-flex justify-content-between">
      <a href="/comercial/clientes/" class="action-item action-item-lg text-white pl-0">
        <i class="fas fa-user-friends"></i>
      </a>
      <a href="/diario/" class="action-item action-item-lg text-white" data-toggle="modal">
        <i class="fas fa-address-book"></i>
      </a>
      <a href="#" class="action-item action-item-lg text-white pr-0">
        <i class="fas fa-receipt"></i>
      </a>
    </div>
  </div>
  <!-- Application nav -->
  <div class="nav-application clearfix">
    <a data-slug="agenda" href="/agenda/" class="btn btn-square text-sm p-0">
      <span class="btn-inner--icon d-block"><i class="fas fa-calendar-day fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Agenda</span>
    </a>
    <a data-slug="comercial" href="/comercial/" class="btn btn-square text-sm p-0">
      <span class="btn-inner--icon d-block"><i class="fas fa-store fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Comercial</span>
    </a>
    <a data-slug="financeiro" href="/financeiro/dashboard.html" class="btn btn-square text-sm p-0">
      <span class="btn-inner--icon d-block"><i class="fas fa-funnel-dollar fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Financeiro</span>
    </a>
    <a data-slug="parceiros" href="/parceiros/dashboard.html" class="btn btn-square text-sm p-0">
      <span class="btn-inner--icon d-block"><i class="fas fa-handshake fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Parceiros</span>
    </a>
    <a data-slug="adm" href="/administrativo/" class="btn btn-square text-sm p-0">
      <span class="btn-inner--icon d-block"><i class="fas fa-landmark fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Administrativo</span>
    </a>
    <a data-slug="diario" href="/diario/" class="btn btn-square text-sm p-0">
      <span class="btn-inner--icon d-block"><i class="fas fa-address-book fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Diário</span>
    </a>
  </div>
</div>